$primary-color: rgb(88, 149, 247);
$primary-light: rgb(195, 225, 255);
$primary-dark: rgb(58, 102, 163);

$secondary-color: rgb(255, 163, 193);
$secondary-light: rgb(255, 210, 225);
$secondary-dark: rgb(228, 103, 136);

$accent-color: rgb(255, 198, 120);
$accent-light: rgb(255, 223, 175);
$accent-dark: rgb(230, 150, 90);

$neutral-light: rgb(255, 245, 240);
$neutral-dark: rgb(70, 70, 85);
$neutral-gray: rgb(220, 210, 220);
